<div class="grid grid-rows-[auto,1fr,auto] h-full gap-5 p-5 w-[90%] md:w-[80%] mx-auto">
    <div>
        <app-search></app-search>
    </div>
    <div>
        <ng-container *ngIf="mainService.productSearchSubject.value === ''; else searchedProductsTemplate">
            <ng-container *ngIf="products | async as productsData; else loading">
                <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 ">
                    <ng-container *ngFor="let product of productsData.products">
                        <app-product-item [product]="product"></app-product-item>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #loading>
                <p class="flex justify-center items-center h-full">Loading...</p>
            </ng-template>
        </ng-container>
        <ng-template #searchedProductsTemplate>
            <ng-container *ngIf="serachedProducts | async as searchProductsData; else loading">
                <div class="grid grid-cols-4 gap-5">
                    <ng-container *ngFor="let product of searchProductsData.products">
                        <app-product-item [product]="product"></app-product-item>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #loading>
                <p class="flex justify-center items-center h-full">Loading...</p>
            </ng-template>
        </ng-template>
    </div>
    <div>
        <app-paganation></app-paganation>
    </div>
</div>

